<div id="sidebar-wrapper" class="py-3">
  <div id="sidebar-nav" class="shadow-bottom">
    <div id="sidebar-quick-notes">
      <ul class="navbar-nav text-white p-2 py-4">
        <li>
          <h5>QM Procedure</h5>
        </li>
        <li><b class="bg-dark">1.</b> Change the current Queue Manager</li>
        <li><b class="bg-dark">2.</b> Check RCC & Update Availability</li>
        <li><b class="bg-dark">3.</b> Update Queue Days for TODAY ONLY</li>
        <li><b class="bg-dark">4.</b> Find and assign the incident in BCP</li>
        <li><b class="bg-dark">5.</b> [EPM_QM_ASSIGNED] as internal memo</li>
        <li><b class="bg-dark">6.</b> Check component and increment incident count for assigned user in the QM Tool</li>
      </ul>
    </div>
    <!--Additional Side bar support!-->
    <!--<div id="sidebar-next-reset-date">-->
    <!--...-->
    <!--</div>-->
  </div>

</div>
