#sidebar-wrapper {
  height: 100%;
  /*background-color: #2c3e50;*/
  /*background: linear-gradient(180deg, #2c3e50 0, #43586d 100%);*/
  background: linear-gradient(180deg, #3a5066 0, #43586d 100%);
  font-weight: 400;
}

#sidebar-wrapper hr {
  border-top: 7px solid rgba(255, 255, 255, 0.4);
}

#sidebar-nav {
  width: 16.67%;
  position: fixed;
  z-index: 1;
  top: 46px;
  overflow-x: hidden;
}

.sidebar-card:after {
  background-color: #ffffff;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.sidebar-card {
  padding: 13px 5px;
  background: linear-gradient(135deg, #f2f2f2 94%, #464446 10%);
  border: 5px solid #464446;
}

#sidebar-quick-notes {
  background: linear-gradient(135deg, #C73F40 94%, #9a3636 10%);
  border: 5px solid #9a3636;
}
