div#add-user-form {
    background-color: white;
    padding: 16px;
}

.qm-tbl {
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.qm-tbl-header, .qm-tbl-row {
    background-color: white;
    border-bottom: 0.5px solid #c8cacc;
}

.qm-tbl-header {
    padding: 16px 0px;
    font-weight: bold;
}

.qm-tbl-row {
    padding: 6px 0px
}

.row.qm-tbl-detail {
    padding: 10px 0px 4px 21px;
}

.row.qm-tbl-detail .btn {
    margin: 0px 2px;
    padding: 0px 15px;
}