<!-- <div class="table-responsive shadow">
  <h1 class="qTable-title">Team Management</h1>
  <table class="table qTable">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">INumber</th>
        <th scope="col">% Usage</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | async; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>
          <input type="text" #updateName [value]="user.name" />
        </td>
        <td>
          <input type="text" #updateiNumber [value]="user.iNumber" />
        </td>
        <td>
          <input type="number" #updateUsage [value]="user.usagePercent" />
        </td>
        <td>
          <button (click)="updateItem(user.key, updateName.value, updateiNumber.value,updateUsage.value )">Update</button>
          <button (click)="deleteItem(user.key)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<div class="qm-tbl shadow">
  <h1 class="qTable-title">Team Management</h1>
  <!-- Table heading -->
  <div class="qm-tbl-header">
    <div class=" row">
      <div class="text-center col-sm-1">#</div>
      <div class="col">Name</div>
      <div class="col">INumber</div>
      <div class="col">% Usage</div>
      <div class="col">Actions</div>
    </div>
  </div>
  <!-- Table body -->
  <div class="qm-tbl-row" *ngFor="let user of users | async; let i = index">
    <div class="row">
      <div class="text-center col-sm-1">{{i + 1}}</div>
      <div class="col">
        <input type="text" #updateName [value]="user.name" />
      </div>
      <div class="col">
        <input type="text" #updateiNumber [value]="user.iNumber" />
      </div>
      <div class="col">
        <input type="number" #updateUsage [value]="user.usagePercent" />
      </div>
      <div class="col">
        <button (click)="updateItem(user.key, updateName.value, updateiNumber.value,updateUsage.value )">Update</button>
        <button (click)="deleteItem(user.key)">Delete</button>
        <button (click)="console.log('hi')">Change Roll</button>
      </div>
    </div>
    <!-- User roles -->
    <div class="row qm-tbl-detail">
      <div class="col-sm">
        Roles:
        <!-- <button type="button" class="btn btn-success" *ngFor="let role of getRoles(user)"></button> -->
        <span class="badge badge-success" *ngFor="let role of getUserRoles(user)">{{ role }}</span>
      </div>
      <div class="col text-right roll-change-panel">
        <button  *ngFor="let role of getRoleList(user)" (click)="toggleRole(user,role)" class="badge" [class.badge-success]="hasRole(user, role)" [class.badge-danger]="!hasRole(user, role)">{{ role }}</button>
      </div>
    </div>
  </div>
</div>

<div id="add-user-form">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="inputName" [value]="inputName" type="text" class="form-control" id="inputName" placeholder="Enter First Name">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>iNumber</label>
        <input [(ngModel)]="inputiNumber" [value]="inputiNumber" type="text" class="form-control" id="inputINumber" placeholder="iNumber">
      </div>
    </div>

  </div>
  <button type="button" class="btn btn-primary" (click)="addItem(inputName,inputiNumber)">Add User</button>
  <button type="button" class="btn btn-danger" (click)="deleteEverything()">Remove All</button>

</div>