<div class="table-responsive shadow">
  <h1 class="qTable-title">QM: {{id$ | async }}</h1>
  <h6 id="available-title" class="qTable-title">{{ (busyUsers | async)?.length }} Available</h6>
  <table class="table qTable">
    <thead>
      <tr>
        <!-- <th colspan="1" scope="col"></th>
        <th colspan="3" scope="col">
          {{ (users | async)?.length }} Employees in EPM-BPC team</th>
        <th colspan="5" scope="col">Incidents</th> -->
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Assign</th>
        <th scope="col">Remove</th>
        <th scope="col">Current Amount</th>
        <th scope="col">Total</th>
        <th scope="col">AVG Q-DAY</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | async; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{user.name + "(" + user.iNumber + ")"}}</td>
        <td>
          <button (click)="incIncidentAmount(user)" class="btn btn-success">Add</button>
        </td>
        <td>
          <button (click)="decIncidentAmount(user)" class="btn btn-danger"> Remove </button>
        </td>
        <td>{{ getIncidentAmount(user) }} </td>
        <td>{{ getIncidentTotal(user) }} </td>
        <td>{{ calculateAverageQDay(user) }}</td>
        <td>{{ user.isAvailable }}</td>
        <td>
          <button (click)="setAvailability(user.key, !user.isAvailable)">Toggle</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive shadow">
  <h6 id="unavailable-title" class="qTable-title">{{ (busyUsers | async)?.length }} Unavailable</h6>
  <table class="table qTable">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Total</th>
        <th scope="col">AVG Q-DAY</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bUser of busyUsers | async; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{bUser.name + "(" + bUser.iNumber + ")"}}</td>
        <td>{{ getIncidentAmount(bUser) }} </td>
        <td>{{ getIncidentTotal(bUser) }} </td>
        <td>{{ calculateAverageQDay(bUser) }}</td>
        <td>{{ bUser.isAvailable }}</td>
        <td>
          <button (click)="setAvailability(bUser.key, !bUser.isAvailable)">Toggle</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>