<h3 class="alert alert-danger error-message"  *ngIf="errorMessage">{{ errorMessage }}</h3>
<h1 class="component-header">QM: {{id$ | async }}
  <button [matTooltip]="TIP_REFRESH" class="qm-refresh btn" (click)="onRefresh()">
    <i class="fa fa-check" *ngIf="!applicationChangeFlag" style="color: green"></i>
    <i class="fa fa-exclamation-circle" *ngIf="applicationChangeFlag" style="color: orange"></i>
    Refresh
  </button>
</h1>

<div class="table-responsive shadow">
  <h6 id="available-title" class="qTable-title">{{ ( _userList | isAvailable:paramId: true)?.length }} Available</h6>
  <table class="table qTable text-center">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Assign</th>
      <th scope="col">Remove</th>
      <th scope="col">{{ paramId }} Incidents</th>
      <th scope="col">Total Incidents<span [matTooltip]="TIP_TOTAL_INCIDENTS" matTooltipPosition="above" class="badge badge-success">+24hrs</span>
      </th>
      <th scope="col">AVG Q-DAY</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody *ngIf="showSpinner" class="text-center">
    <tr>
      <td colspan="9">
        <app-loading-spinner></app-loading-spinner>
      </td>
    </tr>
    </tbody>
    <tbody *ngIf="!showSpinner">
    <tr
      *ngFor="let user of _userList | isAvailable:paramId :true | sortByAVGQDay | sortByPriority: totalIncidents; let i = index"
      [class.high-workload]="getAssignmentCount(user) >= MAX_INCIDENTS">
      <th scope="row">
        {{i + 1}}
        <img [matTooltip]="TIP_FIREBALL" matTooltipPosition="left" *ngIf="getAssignmentCount(user) >= MAX_INCIDENTS" class="on-fire text-center" src="../../../assets/fireball.gif"
             style="display: block">
      </th>
      <td>{{user.name + "(" + user.iNumber + ")"}}</td>
      <td>

        <button [matTooltip]="TIP_ADD_INCIDENT" (click)="onAddIncident(user)" class="btn btn-success">
          <i class="fa fa-plus-square fa-sm"></i>
        </button>
      </td>
      <td>
        <button [matTooltip]="TIP_REMOVE_INCIDENT" (click)="onRemoveIncident(user)" class="btn btn-danger">
          <i class="fa fa-minus-square fa-sm"> </i>
        </button>
      </td>
      <td>{{ user.getIncidentAmount(paramId) }}</td>
      <td>{{ user.getIncidentTotal() }}
        <!--Displays 24hr counter depending on assignment counter-->
        <!--This is done to reduce calls of #getAssignmentCount-->
        <span *ngIf="getAssignmentCount(user).toString() as variable" class="badge assigned-twenty-four" [ngClass]="{
        'badge-success': variable > 0,'badge-secondary': variable == 0, 'badge-danger' : variable < 0}">
          <span *ngIf="variable > 0">+</span>{{variable}}
        </span>
      </td>
      <td>{{ user.getAverageQDay() }}</td>
      <td>
        <i *ngIf="getAssignmentCount(user).toString() as variable"
           class="fa fa-lg"
           [matTooltip]="variable >= MAX_INCIDENTS ? TIP_BUSY : TIP_AVAILABLE"
           [ngClass]="{'fa-check-circle': variable < MAX_INCIDENTS,'fa-minus-circle': variable >= MAX_INCIDENTS}"
           [ngStyle]="{'color' : variable < MAX_INCIDENTS ? 'green' : '#fb9121'  }">
        </i>
      </td>
      <td>
        <button (click)="toggleStatus(user, $event)">Toggle</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div class="table-responsive shadow">
  <h6 id="unavailable-title" class="qTable-title">{{ ( _userList | isAvailable:paramId: false)?.length }}
    Unavailable</h6>
  <table class="table qTable text-center">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">{{ paramId }} Incidents</th>
      <th scope="col">Total</th>
      <th scope="col">AVG Q-DAY</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bUser of _userList | isAvailable:paramId :false | sortByAlpha; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{bUser.name + "(" + bUser.iNumber + ")"}}</td>
      <td>{{ bUser.getIncidentAmount(paramId) }}</td>
      <td>{{ bUser.getIncidentTotal() }}</td>
      <td>{{ bUser.getAverageQDay() }}</td>
      <td>
        <i class="fa fa-times fa-lg" style="color:red;"></i>
      </td>
      <td>
        <button (click)="toggleStatus(bUser, $event)">Toggle</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div class="incident-detail text-center shadow">{{id$ | async }} has
  <button class="btn btn-primary">{{ totalIncidentsCtx }}</button>
  incidents. Sum is
  <button class="btn btn-primary">{{ totalIncidents }}</button>
</div>
