#unavailable-title {
    background-color: rgb(218, 38, 38);
}

#available-title {
    background-color: #039be5;
}

#available-title, #unavailable-title  {
    padding: 5px 14px;
}

.incident-detail{
    background-color: white;
    padding: 11px;
    margin: auto;
    width: 50%;
    margin-bottom: 19px;
}

.assigned-twenty-four{
    margin-left: 2px;
}

.on-fire {
  width: 15%;
  margin: auto;
}
