#unavailable-title {
    background-color: rgb(218, 38, 38);
}

#available-title {
    background-color: #039be5;
}

#available-title, #unavailable-title  {
    padding: 5px 14px;
}

.incident-detail{
    background-color: white;
    padding: 11px;
    margin: auto;
    width: 50%;
    margin-bottom: 19px;
}

.assigned-twenty-four{
    margin-left: 2px;
}

.on-fire {
  width: 13.5px;
  margin: auto;
}


tr.high-workload{
  border-width: 5px;
  border-left: solid red;
}

.qm-refresh{
  float: right;
  margin: 3px;
  background-color: #2c3e50;
  border-color: #fbb040;
  border-width: 3px;
  color: white;

}

/* Tooltips */
::ng-deep .mat-tooltip {
  font-size: 14px;
}
