<h3 class="alert alert-danger error-message" role="alert" *ngIf="errorMessage">{{ errorMessage }}</h3>
<div id="team-manger" class="qm-tbl mt-3">
  <h1 class="component-header" id="team-manger-component-header">Team Management</h1>
  <!--TODO THIS HAS TERRIBLE UI-->
  <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  <table class="table qm-tbl-row shadow">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">INumber</th>
      <th scope="col">Threshold</th>
      <th scope="col">% Usage</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-user [ngForOf]="userList" let-index="index">
      <tr>
        <td style="border-bottom: solid gray;" rowspan="2">{{index}}</td>
        <td><input type="text" #updateName [value]="user.name()"/></td>
        <td><input type="text" #updateiNumber [value]="user.iNumber" disabled/></td>
        <td><input type="number" #updateThreshold [value]="user.iThreshold"/></td>
        <td><input type="number" #updateUsage [value]="user.usagePercent"/></td>
        <td>
          <button
            (click)="updateUser(user, updateName.value, updateiNumber.value,updateUsage.value, updateThreshold.value)">
            Update
          </button>
          <button (click)="deleteItem(user)">Delete</button>
        </td>
      </tr>
      <tr style="border-bottom: solid gray;">
        <td colspan="2">Supported Products: <span class="badge badge-success mr-1"
                                                  *ngFor="let tmp of user.getSupportedProductList()">{{tmp}}</span></td>
        <td colspan="1" class="text-right">Toggle Products</td>
        <td colspan="2">
          <button *ngFor="let product of productList" (click)="toggleRole(user,product)" class="badge mr-1"
                  [class.badge-success]="this.user.hasRole(product)"
                  [class.badge-danger]="!this.user.hasRole(product)">{{ product }}
          </button>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </table>
</div>

<form class="qm-form shadow mb-4" #addUserForm="ngForm" (ngSubmit)="onAddUser(addUserForm)">
  <div class="form-row mb-2">
    <div class="col">
      <label>Name</label>
      <input type="text" class="form-control" #name="ngModel" name="name" placeholder="ex. John" required
             minlength="3" ngModel>
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">
        <div *ngIf="name?.errors.required">
          Name is required
        </div>
        <div *ngIf="name?.errors.minlength">
          Name must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="col">
      <label>iNumber</label>
      <input type="text" class="form-control" #iNumber="ngModel" name="iNumber" placeholder="ex. i123456" required
             minlength="7" ngModel>
      <div *ngIf="iNumber.invalid && (iNumber.dirty || iNumber.touched)"
           class="alert alert-danger">
        <div *ngIf="iNumber?.errors.required">
          iNumber is required.
        </div>
        <div *ngIf="iNumber?.errors.minlength">
          iNumber must be at least 7 characters long.
        </div>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="!addUserForm.valid" class="btn btn-primary mb-2">Add User</button>
</form>
