<div *ngIf="afAuth.authState | async as user" class="mb-3">
  <h2 id="component-title" class="text-center">Components</h2>
  <div id="component-menu" class="container text-center shadow">
    <div class="row">
      <div class="col">
        <a class="nav-link" routerLink="qm/NW" routerLinkActive="active">NW </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="nav-link" routerLink="qm/MS" routerLinkActive="active">MS </a>
      </div>
      <div class="col">
        <a class="nav-link" routerLink="qm/SA" routerLinkActive="active">SA </a>
      </div>
      <div class="col">
        <a class="nav-link" routerLink="qm/SM" routerLinkActive="active">SM </a>
      </div>
      <div class="col">
        <a class="nav-link" routerLink="qm/FC_EA_IC_FIM" routerLinkActive="active">FC/EA/IC/FIM </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="nav-link" routerLink="qm/DSM" routerLinkActive="active">DSM </a>
      </div>
      <div class="col">
        <a class="nav-link" routerLink="qm/PCM" routerLinkActive="active">PCM </a>
      </div>
      <div class="col">
        <a class="nav-link" routerLink="qm/RTC" routerLinkActive="active">RTC </a>
      </div>
      <div class="col">
        <a class="nav-link" routerLink="qm/LOD_ANA_PL" routerLinkActive="active">LOD/ANA/PL</a>
      </div>
    </div>
  </div>
</div>
