<div>
  <h1 id="qm-v2-21">QM v2.21</h1>
  <hr>
  <p>Custom Thresholds, patches</p>
  <ul>
    <li>Support for custom incident thresholds (maximum incidents assigned per day)</li>
    <li>Confirmation before changing roles in Team Manager</li>
    <li>Quick add +1 when doing queue days</li>
  </ul>
</div>



<div>
  <h1 id="qm-v2-20">QM v2.20</h1>
  <hr>
  <ul>
    <li>Support for adding new components</li>
    <li>iNumbers are no longer case sensitive</li>
    <li>New Settings sections to maintain the tool.</li>
    <li>Time shift info</li>
  </ul>
</div>

<div>
  <h1 id="qm-v2-11">QM v2.11</h1>
  <hr>

  <ul>
    <li>Refactor services</li>
  </ul>
</div>
<div>
  <h1 id="qm-v2-10">QM v2.10</h1>
  <hr>
  <ul>
    <li>Improved UI</li>
    <li>Cleaner code</li>
    <li>Works only in Chrome</li>
    <li>Broken in IE (It worked at a moment in time)</li>
    <li>Resolved HTTP Error when refreshing the page</li>
  </ul>
  <h3 id="qm-dashboard-updated">QM Dashboard Updated</h3>
  <ul>
    <li>The number next to Total Incidents in green shows the incident counter assigned to an engineer in the last 24
      hours.
    </li>
    <li>font-awesome icons</li>
    <li>Little indication that pops up, notifying an incident assignment</li>
  </ul>
  <h3 id="rcc">RCC</h3>
  <ul>
    <li>Houses the reset buttons</li>
    <li>New panel that tells us the next reset date</li>
  </ul>
  <h3 id="activity-log">Activity Log</h3>
  <ul>
    <li>All actions and updates to the system will be logged in activity log! Except for resets...</li>
  </ul>
  <h3 id="quick-notes-sidebar">Quick Notes Sidebar</h3>
  <ul>
    <li>WIP but present</li>
  </ul>
</div>

