<!--<div class="notification-item my-1">-->
<!--<span style="color:#848484" class="fa fa-times mx-1"></span>Notifications-->
<!--</div>-->
<!--<div class="notification-item my-1">-->
<!--<span style="color:#848484" class="fa fa-times mx-1"></span>Notifications-->
<!--</div>-->
<div *ngFor="let note of notification_array">
  <div *ngIf="note.active" class="alert alert-info alert-dismissible" style="margin-top:18px;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>{{note.type}}</strong> {{note.message}}
  </div>
</div>

<!--<div class="alert alert-info alert-dismissible">-->
<!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
<!--<strong>Success!</strong> This alert box indicates a successful or positive action.-->
<!--</div>-->
<!--<div class="alert alert-info alert-dismissible">-->
<!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
<!--<strong>Success!</strong> This alert box indicates a successful or positive action.-->
<!--</div>-->
