<nav class="navbar navbar-expand-sm navbar-qmcd shadow-bottom">
  <a class="navbar-brand px-2" href="#">
    <img src="/assets/logo-icon.png" width="30" height="30"
         class="d-inline-block align-top" alt="">
    {{appShort}} <span *ngIf="!isProd" class="badge badge-light">{{dEnvironmentMsg}}</span>

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item pl-1">
        <a class="nav-link" routerLink="/manage" routerLinkActive="active">Manage Team</a>
      </li>
      <li class="nav-item pl-1">
        <a class="nav-link" routerLink="/rcc" routerLinkActive="active">RCC</a>
      </li>
    </ul>

    <div *ngIf="afAuth.authState | async">
      <span style="color:white">Welcome {{ loginService.user?.name }}!</span>
      <button class="ml-1 my-1 my-md-0" (click)="logout()">Logout</button>
      <button class="ml-1 my-1 my-md-0" routerLink="/settings" routerLinkActive="active">Settings</button>
    </div>
    <div class="mx-1 text-white" routerLink="/about">
      <span class="fa fa-info-circle"></span>
    </div>
  </div>


</nav>
