<nav id="qNavBar" class="navbar navbar-expand-sm bg-inverse navbar-inverse">
  <a class="navbar-brand" href="#">Queue Managerv2.0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage" routerLinkActive="active">
          Manage Team
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rcc" routerLinkActive="active">
          RCC
        </a>
      </li>

    </ul>
    <div *ngIf="afAuth.authState | async as user">
      <span style="color:white">Welcome Queue Manager!</span>
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<div *ngIf="afAuth.authState | async as user">
  <h2 id="component-title" class="text-center">Other Components</h2>
  <div id="component-menu" class="container text-center">
    <div class="row">
      <div class="col">
        <a class="nav-link" href="/MS">MS </a>
      </div>
      <div class="col">
        <a class="nav-link" href="/SA">SA </a>
      </div>
      <div class="col">
        <a class="nav-link" href="/SM">SM </a>
      </div>
      <div class="col">
        <a class="nav-link" href="/FC-EA-IC-FIM">FC/EA/IC/FIM </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="nav-link" href="/DSM">DSM </a>
      </div>
      <div class="col">
        <a class="nav-link" href="/PCM">PCM </a>
      </div>
      <div class="col">
        <a class="nav-link" href="/RTC">RTC </a>
      </div>
      <div class="col">
        <a class="nav-link" href="/LOD-ANA-PL">LOD-ANA-PL</a>
      </div>
    </div>
  </div>
</div>


<!-- <div class="row">
    <div class="col">
      <a class="nav-link" routerLink="/MS" routerLinkActive="active">MS </a>
    </div>
    <div class="col">
      <a class="nav-link" routerLink="/SA" routerLinkActive="active">SA </a>
    </div>
    <div class="col">
      <a class="nav-link" routerLink="/SM" routerLinkActive="active">SM </a>
    </div>
    <div class="col">
      <a class="nav-link" routerLink="/FC-EA-IC-FIM" routerLinkActive="active">FC/EA/IC/FIM </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="nav-link" routerLink="/DSM" routerLinkActive="active">DSM </a>
    </div>
    <div class="col">
      <a class="nav-link" routerLink="/PCM" routerLinkActive="active">PCM </a>
    </div>
    <div class="col">
      <a class="nav-link" routerLink="/RTC" routerLinkActive="active">RTC </a>
    </div>
    <div class="col">
      <a class="nav-link" routerLink="/LOD-ANA-PL" routerLinkActive="active">LOD-ANA-PL</a>
    </div>
  </div>
</div> -->