<app-navbar></app-navbar>
<div class="container-fluid">
    <app-login></app-login>
    <div *ngIf="afAuth.authState | async as user">
        <div class="row">
            <div class="col-sm-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-sm-8">
                <app-component-bar></app-component-bar>
                <app-clipboard></app-clipboard>
                <h3 class="alert alert-danger" role="alert" *ngIf="errorMessage">{{ errorMessage }}</h3>
                <router-outlet></router-outlet>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>