app-sidebar {
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 71px;
  left: 10px;
  background: #2c3e50;
  overflow-x: hidden;
  padding: 8px 0;
}

.main {
  padding-left: 16%;
  padding-right: 16%;
}

@media (max-width: 1150px) and (max-height: 906px) {
  app-sidebar{
    width: 15%;
    position: inherit;
    z-index: inherit;
    top: 0;
    left: 0;
    background: #2c3e50;
    overflow-x: hidden;
    padding: 8px 0;
  }
  .main {
    padding-left: inherit;
    padding-right: inherit;
  }
}

@media (min-width: 1500px) {
  .main {
    padding-left: 10%;
  }
}

@media (min-width: 2000px) {
  .main {
    padding-left: 0;
  }
}

/*@media (max-width: 1255px) {*/
/*.sidenav {*/
/*!*display: none;*!*/
/*width: 100%;*/
/*position: inherit;*/
/*z-index: inherit;*/
/*top: inherit;*/
/*left: inherit;*/
/*background: #2c3e50;*/
/*overflow-x: hidden;*/
/*}*/
/*}*/

/*@media (min-width: 1255px) {*/
/*.main .container {*/
/*margin: 0 0;*/
/*padding: inherit;*/
/*}*/
/*}*/

/*@media (min-width: 1800px) {*/
/*.main {*/
/*margin: 0 0;*/
/*padding: inherit;*/
/*}*/
/*}*/
