<div *ngIf="!(afAuth.authState | async)">
  <app-login></app-login>
</div>

<div *ngIf="afAuth.authState | async">
  <app-navbar></app-navbar>
  <div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 d-lg-block d-none p-0">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-8 col">
          <app-notification></app-notification>
          <app-qm-info></app-qm-info>
          <app-component-bar></app-component-bar>
          <app-notice-board></app-notice-board>
          <h3 class="alert alert-danger" role="alert" *ngIf="errorMessage">{{ errorMessage }}</h3>
          <router-outlet></router-outlet>
          <app-activity-log></app-activity-log>
        </div>
        <div class="col-lg-2 d-lg-block d-none p-0"></div>
      </div>
    </div>
  </div>
</div>

