<div *ngIf="!loginService.hasAuth">
  <app-login></app-login>
</div>

<div *ngIf="loginService.hasAuth" class="h-100">
  <app-navbar class="fixed-nav"></app-navbar>

  <div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-2 d-lg-block d-none p-0">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-8 col">
          <app-notice-board></app-notice-board>
          <app-notification></app-notification>
          <h3 class="alert alert-danger" role="alert" *ngIf="errorMessage">{{ errorMessage }}</h3>
          <router-outlet></router-outlet>
          <app-activity-log></app-activity-log>
        </div>
        <!--<div class="col-lg-2 d-lg-block d-none p-0"></div>-->
      </div>
    </div>
</div>


