/*app-sidebar {*/
/*width: 15%;*/
/*position: fixed;*/
/*z-index: 1;*/
/*top: 71px;*/
/*left: 10px;*/
/*background: #2c3e50;*/
/*overflow-x: hidden;*/
/*padding: 8px 0;*/
/*}*/

/*.main {*/
/*padding-left: 16%;*/
/*padding-right: 16%;*/
/*}*/

/*@media (max-width: 1150px) AND (max-height: 906px) {*/
/*app-sidebar{*/
/*width: 15%;*/
/*position: inherit;*/
/*z-index: inherit;*/
/*top: 0;*/
/*left: 0;*/
/*background: #2c3e50;*/
/*overflow-x: hidden;*/
/*padding: 8px 0;*/
/*}*/
/*.main {*/
/*padding-left: inherit;*/
/*padding-right: inherit;*/
/*}*/
/*}*/

/*@media (min-width: 1500px) {*/
/*.main {*/
/*padding-left: 10%;*/
/*padding-right: 10%;*/

/*}*/
/*}*/

/*@media (min-width: 2000px) {*/
/*.main {*/
/*padding-left: 0;*/
/*padding-right: 0;*/

/*}*/
/*}*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  app-sidebar {
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 67px;
    left: 10px;
    background: #2c3e50;
    overflow-x: hidden;
    padding: 9px 0px;
  }

  .main {
    padding-left: 16%;
    padding-right: 16%;
  }
}
