<div class="sidenav">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Quick Notes</h5>
      <p class="card-text">Some quick reminders and links to perform QM Duties [WIP]</p>
      <ul class="list-group">
        <li class="list-group-item">
          1. Check RCC and Update Queue Incident Handling
        </li>
        <li class="list-group-item">
          2. Check component
        </li>
        <li class="list-group-item">
          3. Assign Incidents
        </li>
      </ul>
    </div>
  </div>
</div>
