<div id="sidebar" class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Quick Notes</h5>
    <p class="card-text">Some quick reminders and links to perform QM Duties [WIP]</p>
    <ul class="list-group">
      <li class="list-group-item">
        Check RCC
      </li>
      <li class="list-group-item">
        Todo Step 2
      </li>
      <li class="list-group-item">
        Todo Step 3
      </li>
      <li class="list-group-item">
        Todo Step 4
      </li>
    </ul>
  </div>
</div>