<!--<div class="sidenav">-->
<!--<div class="card">-->
<!--<div class="card-body">-->
<!--<h5 class="card-title">Quick Notes</h5>-->
<!--<p class="card-text">Some quick reminders and links to perform QM Duties [WIP]</p>-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item">-->
<!--1. Change the current Queue Manager-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--2. Check RCC & Update Availability-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--3. Find and assign the incident in BCP!-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--4. [EPM_QM_ASSIGNED]-->
<!--</li>-->
<!--<li class="list-group-item">-->
<!--5. Check component and increment incident count for assigned user in the QM Tool.-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<div id="sidebar-wrapper" class="py-3">
  <div id="sidebar-nav">
    <ul class="navbar-nav text-white p-2 py-4" id="sidebar-quick-notes">
      <li>
        <h5>Quick Notes</h5>
      </li>
      <li>
        1. Change the current Queue Manager
      </li>
      <li>
        2. Check RCC & Update Availability
      </li>
      <li>
        3. Find and assign the incident in BCP!
      </li>
      <li>
        4. [EPM_QM_ASSIGNED]
      </li>
      <li>
        5. Check component and increment incident count for assigned user in the QM Tool.
      </li>
    </ul>
  </div>

  <!--<hr class="text-white">-->
</div>
