#sidebar-wrapper {
  height: 100%;
  /*background-color: #2c3e50;*/
  background: linear-gradient(180deg, #2c3e50 0, #43586d 100%);
  font-weight: 400;
}

#sidebar-wrapper hr {
  border-top: 7px solid rgba(255, 255, 255, 0.4);
}

#sidebar-quick-notes {
  background: linear-gradient(135deg, #c33f3f 92%, #b33939 50%);
}

#sidebar-nav {
  width: 16.67%;
  position: fixed;
  z-index: 1;
  top: 48px;
  overflow-x: hidden;
}
