#sidebar-wrapper {
  height: 100%;
  /*background-color: #2c3e50;*/
  /*background: linear-gradient(180deg, #2c3e50 0, #43586d 100%);*/
  background: linear-gradient(180deg, #3a5066 0, #43586d 100%);
  font-weight: 400;
}

#sidebar-wrapper hr {
  border-top: 7px solid rgba(255, 255, 255, 0.4);
}

#sidebar-quick-notes {
  /*background: linear-gradient(135deg, #c33f3f 68%, #ab3434 50%)*/
  background: linear-gradient(135deg, #C73F40 94%, #9a3636 10%);
}

#sidebar-nav {
  width: 16.67%;
  position: fixed;
  z-index: 1;
  top: 46px;
  overflow-x: hidden;
}

#sidebar-quick-notes:after {
  background-color: #9a3636;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

/*#sidebar-quick-notes:after {*/
/*background-color: #9a3636;*/
/*content: '';*/
/*position: absolute;*/
/*top: 0px;*/
/*left: 0px;*/
/*right: 0px;*/
/*bottom: 80px;*/
/*z-index: -1;*/
/*}*/

#sidebar-quick-notes {
  margin: 6px;
}

#sidebar-next-reset-date {
  background: linear-gradient(135deg, #4CAF50 94%, #347737 10%);
  margin: 6px;
}

#sidebar-next-reset-date:after {
  background-color: #347737;
  content: '';
  position: absolute;
  top: 258px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}
