<div class="container">
  <div id="rcc-info-panel" class="shadow">
    <div class="row">
      <div class="col-sm-3">KEY</div>
      <div class="col">Oct-Dec = 1 | Jan-Mar = 2 | Apr-Jun = 3 | Jul-Sep = 4</div>
    </div>
    <div class="row">
      <div class="col-sm-3">Current Date</div>
      <div class="col">{{ currentDate }}</div>
    </div>
    <div class="row">
      <div class="col-sm-3">Current Quarter</div>
      <div class="col">{{getQuarter()}}</div>
    </div>
    <div class="row">
      <div class="col-sm-3">Next Reset in Days</div>
      <div class="col" *ngIf="daysLeftInQuarter()">{{getResetDays()}}</div>
      <div class="col" *ngIf="!daysLeftInQuarter()">
        <button (click)="resetDays()" class="btn btn-danger" style="width:100%">RESET THE RCC NOW</button>
      </div>
    </div>
  </div>
  <h3 class="alert alert-danger error-message" role="alert" *ngIf="errorMessage">{{ errorMessage }}</h3>
  <div class="card text-center" id="reset-button-panel">
    <div class="card-block">
      <button class="btn btn-danger" (click)="resetRCC()">RESET QUEUE DAYS</button>
      <button class="btn btn-danger" (click)="resetAllIncidents()">RESET INCIDENTS</button>
      <button class="btn btn-danger" (click)="resetActivityLog()">RESET ACTIVITY LOG</button>
      <button class="btn btn-success" (click)="masterReset()">MASTER RESET</button>
    </div>
  </div>
  <div id="rcc-management" class="table-responsive shadow">
    <h1 class="qTable-title">RCC Data</h1>
    <table class="table qTable">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Current Queue Days</th>
        <th scope="col">% Usage</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="showSpinner">
        <td colspan="3">
          <app-loading-spinner></app-loading-spinner>
        </td>
      </tr>
      <tr *ngFor="let user of _userList; let i = index">
        <td>{{user.name + "(" + user.iNumber + ")"}}</td>
        <td>{{user.currentQDays}}</td>
        <td>{{user.usagePercent}}</td>
        <td>
          <button class="btn btn-success" type="button" (click)="addQueueDay(user)">Add</button>
          <button class="btn btn-default" type="button" (click)="updateQueueDays(user)">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
