<div class="alert-box">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="message" class="modal-body">{{message}}</div>
  <div *ngIf="message" class="modal-body">
    1. Are you using Chrome as a browser?<br>
    2. Is the database running? See documentation on Microsoft Teams!<br>
    3. Contact tangjoncl@gmail.com | jonathan.tang01@sap.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="confirm()">Refresh</button>
  </div>
</div>
