<div class="row">
  <div class="col">
    <h4>Application Settings</h4>
    <p class="card-text">Follow the numbered buttons to reset applications. Do not leave the page otherwise you will
      lose progress!</p>
  </div>
</div>
<div *ngIf="showSpinner">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!showSpinner">
  <div class="row">
    <div class="col-sm-6 data-rest-btn">
      <div class="card-body">
        <h5 class="card-title">Archive and Reset (May take a while)</h5>
        <p class="card-text">Resets all numeric values for all users</p>
        <button class="btn btn-danger" (click)="archive()"><span class="badge badge-light mr-1">1</span>Archive <i
          *ngIf="resetProgressArr[0]" class="fa fa-check-circle" style="color:white;"></i></button>


        <!--<button id="btn-download" class="btn btn-danger" (click)="promptDownload()">Save</button>-->
      </div>
    </div>
    <div class="col-sm-6 data-rest-btn">
      <div class="card-body">
        <h5 class="card-title">Reset Queue Days</h5>
        <p class="card-text">Sets queue days for all users to zero</p>
        <button class="btn btn-secondary" (click)="clearQueueDays()"><span class="badge badge-light mr-1">2</span>Reset
          <i *ngIf="resetProgressArr[1]" class="fa fa-check-circle" style="color:white;"></i></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 data-rest-btn">
      <div class="card-body">
        <h5 class="card-title">Reset Incidents</h5>
        <p class="card-text">Sets incident counter for all users to zero</p>
        <button class="btn btn-secondary" (click)="clearIncidents()"><span class="badge badge-light mr-1">3</span>Reset
          <i *ngIf="resetProgressArr[2]" class="fa fa-check-circle" style="color:white;"></i></button>
      </div>
    </div>
    <div class="col-sm-6 data-rest-btn">
      <div class="card-body">
        <h5 class="card-title">Reset Log Entries</h5>
        <p class="card-text">Removes all log enties</p>
        <button class="btn btn-secondary" (click)="clearEntryLogs()"><span class="badge badge-light mr-1">4</span>Reset
          <i *ngIf="resetProgressArr[3]" class="fa fa-check-circle" style="color:white;"></i></button>
      </div>
    </div>
  </div>
</div>


