<div class="row">
  <div class="col">
    <h4>Application Settings</h4>
    <p class="card-text">Follow the numbered buttons to reset applications. Do not leave the page otherwise you will
      lose progress!</p>
  </div>
</div>
<div *ngIf="showSpinner">
  <app-loading-spinner [message]="progressMessage"></app-loading-spinner>
</div>
<div *ngIf="!showSpinner">
  <div class="row" *ngIf="showAdvanceSettings">
    <div class="col-sm-6 data-rest-btn">
      <div class="card-body">
        <h5 class="card-title">Archive (May take a while)</h5>
        <p class="card-text">Archives to database and exports to a file</p>
        <button disabled class="btn btn-danger" (click)="archive()"><span class="badge badge-light mr-1">1</span>Archive
          <i
            *ngIf="resetProgressArr[0]" class="fa fa-check-circle" style="color:white;"></i></button>
        <div id="btn-download"></div>
      </div>
    </div>
    <div class="col-sm-6 data-rest-btn">
      <div class="card-body">
        <h5 class="card-title">Reset User Incidents and Queue Days</h5>
        <p class="card-text">Sets incident and queue days to zero</p>
        <button class="btn btn-secondary" (click)="resetUsers()"><span class="badge badge-light mr-1">2</span>Reset
          <i *ngIf="resetProgressArr[1]" class="fa fa-check-circle" style="color:white;"></i></button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showAdvanceSettings">
    <div class="col-sm-6 data-rest-btn">
      <div class="card-body">
        <h5 class="card-title">Reset Log Entries</h5>
        <p class="card-text">Removes all log enties</p>
        <button class="btn btn-secondary" (click)="clearActionEntryLogs()"><span class="badge badge-light mr-1">3</span>Reset
          <i *ngIf="resetProgressArr[3]" class="fa fa-check-circle" style="color:white;"></i></button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!showAdvanceSettings">
    <div class="col">
      <button class="btn btn-primary my-2" (click)="oneClickReset()">Easy One Click Button</button>
      <button class="btn btn-link my-2" (click)="toggleAdvancedSettings()">Advanced</button>
    </div>
  </div>
</div>


